@mixin v-spacer($margin) {
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin h-spacer($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin spacer($height) {
  display: block;
  height: $height;
}